/* Resetting default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Styling the navigation */
nav {
    background-color: #512DA8; /* Dark purple */
    padding: 10px;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s; /* Smooth color transition */
}

nav ul li a:hover {
    color: #FF4081; /* Pink accent color */
}

/* Styling the login form container */
.login-container {
    width: 300px;
    margin: 50px auto;
}

.form-group {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    color: #512DA8; /* Dark purple */
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #512DA8; /* Dark purple */
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #512DA8; /* Dark purple */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s; /* Smooth background color transition */
}

button:hover {
    background-color: #673AB7; /* Purple */
}

button:focus {
    outline: none; /* Removing button outline on focus */
}
